include ../templates/head
include ../templates/header
+header('', 'О Компании')

include ../templates/mobile-menu

main.about
    section.p-section
        .container
            .row
                .col-xs-12
                    h2 АО «Приморско-Ахтарский молочный завод»
                    .about__wrapper
                        p АО Приморско-Ахтарский молочный завод ТМ "ТВОРОГОВЪ" – молочный завод, занимающийся производством цельномолочной, кисломолочной продукции (кефир, бефидо-кефир, варенец, ряженка, снежок), сметаны, творога, спред «Кубанский» сливочно - растительный, масло «Крестьянское», мороженое. В 2017г запущена новая линейка продуктов: сметанный продукт, творожный продукт. Вся молочной продукция имеет сертификаты качества.
                        p Вся продукция производится исключительно из натурального молочного сырья высшего сорта, без стабилизаторов, содержания ГМО и соответствует ГОСТу.
                        p Продукция нашей компании выпускается в различной упаковке: в пакетах из пленки, в полипропиленовых стаканчиках, в брикетах из пергамента и фольги.
                        p Покупая продукцию компании, вы всегда можете быть уверены, что на вашем столе будут только самые свежие молочные продукты. При производстве, которых использовалось только экологически чистое сырье. Выбирайте лучшее!
                    
                    h2 Дипломы и сертификаты
                    .about__slider
                        .swiper-container
                            
                            .swiper-wrapper
                                
                                .swiper-slide.popup-gallery
                                    a.about__sert(href=require("../../assets/img/sv-full-1.jpg") style="background-image: url('" +require("../../assets/img/sv-full-1.jpg") + "'", title="Сертификат соответствия 1")
                                .swiper-slide.popup-gallery
                                    a.about__sert(href=require("../../assets/img/sv-full-2.jpg") style="background-image: url('" +require("../../assets/img/sv-full-2.jpg") + "'", title="Сертификат соответствия 2")
                                .swiper-slide.popup-gallery
                                    a.about__sert(href=require("../../assets/img/sv-full-3.jpg") style="background-image: url('" +require("../../assets/img/sv-full-3.jpg") + "'", title="Сертификат соответствия 3")
                                .swiper-slide.popup-gallery
                                    a.about__sert(href=require("../../assets/img/sv-full-4.jpg") style="background-image: url('" +require("../../assets/img/sv-full-4.jpg") + "'", title="Сертификат соответствия 4")
                                .swiper-slide.popup-gallery
                                    a.about__sert(href=require("../../assets/img/sv-full-5.jpg") style="background-image: url('" +require("../../assets/img/sv-full-5.jpg") + "'", title="Сертификат соответствия 5")
                                .swiper-slide.popup-gallery
                                    a.about__sert(href=require("../../assets/img/sv-full-6.jpg") style="background-image: url('" +require("../../assets/img/sv-full-6.jpg") + "'", title="Сертификат соответствия 6")
                                .swiper-slide.popup-gallery
                                    a.about__sert(href=require("../../assets/img/sv-full-7.jpg") style="background-image: url('" +require("../../assets/img/sv-full-7.jpg") + "'", title="Сертификат соответствия 7")
                                .swiper-slide.popup-gallery
                                    a.about__sert(href=require("../../assets/img/sv-full-8.jpg") style="background-image: url('" +require("../../assets/img/sv-full-8.jpg") + "'", title="Сертификат соответствия 8")
                                .swiper-slide.popup-gallery
                                    a.about__sert(href=require("../../assets/img/sv-full-9.jpg") style="background-image: url('" +require("../../assets/img/sv-full-9.jpg") + "'", title="Сертификат соответствия 9")
                                .swiper-slide.popup-gallery
                                    a.about__sert(href=require("../../assets/img/sv-full-10.jpg") style="background-image: url('" +require("../../assets/img/sv-full-10.jpg") + "'", title="Сертификат соответствия 10")
                                .swiper-slide.popup-gallery
                                    a.about__sert(href=require("../../assets/img/sv-full-11.jpg") style="background-image: url('" +require("../../assets/img/sv-full-11.jpg") + "'", title="Сертификат соответствия 11")
                                
                            .swiper-pagination

                                
                        .swiper-button-prev
                        .swiper-button-next


                    .about__bg

include ../templates/footer 
include ../templates/recall-form
include ../templates/search-box


